<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue dans votre application de gestion de propriétés</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #007bff;
      text-align: center;
    }
    p {
      color: #333333;
      font-size: 16px;
      line-height: 1.6;
    }
    .btn {
      display: inline-block;
      padding: 15px 30px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0;
      transition: background-color 0.3s ease;
    }
    .btn:hover {
      background-color: #0056b3;
    }
    .btn-container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bienvenue dans votre application de gestion de propriétés</h1>
    <p>Merci d'avoir choisi notre application pour faciliter la gestion de vos propriétés. Avec notre plateforme, vous pouvez suivre les paiements des locataires, gérer les détails de vos propriétés, analyser les performances financières et bien plus encore.</p>
    <p>Pour commencer, connectez-vous à votre compte et explorez les fonctionnalités disponibles :</p>
    <div class="btn-container">
      <a href="http://192.168.137.1:3000/redirect?email=<%= email %>&pwd=<%= pwd %>&otp=<%= codeOTP %>" class="btn">Accéder à mon compte</a>
    </div>
    <p>Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter à l'adresse support@votreapplication.com.</p>
    <p>Merci encore et bonne utilisation de votre application de gestion de propriétés !</p>
  </div>
</body>
</html>
