

<div class="box">
    <i class='bx bx-user'></i>
    <div>
        <p class="box_topic">Nom : AMAVIGAN</p>
        <p class="box_topic">Prénom : Ayi Mawuli Hénoc</p>
        <p class="box_topic">Email : nononephew@gmail.com</p>
        <p class="box_topic">Contacts : 99999999 / 77777777</p>
    </div>
</div>

