

<div class="box">
    <i class='bx bx-user'></i>
    <div>
        <p class="box_topic">Nom : <strong>AMAVIGAN</strong></p>
        <p class="box_topic">Prénom : <strong>Ayi Mawuli Hénoc</strong></p>
        <p class="box_topic">Email : <strong>nononephew@gmail.com</strong></p>
        <p class="box_topic">Contacts : <strong>99999999 / 77777777</strong></p>
    </div>
</div>

