<div class="card-boxes">
  <div class="box">
    <div class="right_side">
      <div class="numbers">9.99</div>
      <div class="box_topic">Total des paiements</div>
    </div>
    <i class='bx bx-wallet'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="numbers">15.9</div>
      <div class="box_topic">Total des logements</div>
    </div>
    <i class='bx bx-building-house'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="numbers">30.20</div>
      <div class="box_topic">Total des logements pris</div>
    </div>
    <i class='bx bx-home-alt'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="numbers">50.9</div>
      <div class="box_topic">Total des locataires</div>
    </div>
    <i class='bx bx-user'></i>
  </div>
</div>
