<div class="recent_project">
  <div class="card_header">
    <h2>Les propriétés</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Adresse</td>
        <td>Description</td>
        <td>Coût</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dropbox Design System</td>
        <td>34</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        
      </tr>
      <tr>
        <td>Slack Team UI Design</td>
        <td>47</td>
        <td>
          <span class="badge bg_danger">Higt</span>
        </td>
        
      </tr>
      <tr>
        <td>Github Satellite</td>
        <td>120</td>
        <td>
          <span class="badge bg_info">Low</span>
        </td>
        
      </tr>
      <tr>
        <td>3D character Moddelling</td>
        <td>89</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        
      </tr>
      <tr>
        <td>Web app Design System</td>
        <td>108</td>
        <td>
          <span class="badge bg_seccuss">Track</span>
        </td>
        
      </tr>
      <tr>
        <td>Twitter API Design</td>
        <td>86</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
