<div class="recent_project">
  <div class="card_header">
    <h2>Les propriétés</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Adresse</td>
        <td>Description</td>
        <td>Coût</td>
      </tr>
    </thead>
    <tbody id="myPropertiesTable">
      
    </tbody>
  </table>
</div>
