<div class="recent_project">
    <div class="card_header">
      <h2>Les locataires</h2>
    </div>
    <table>
      <thead>
        <tr>
            <th>Locataire</th>
            <th>Contacts</th>
            <td>Adresse</td>
            <td>Coût</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dropbox Design System</td>
          <td>99999999/77777777</td>
          <td>
            <span class="badge bg_worning">Meduim</span>
          </td>
          <td>80.000</td>
        </tr>
        <tr>
            <td>Dropbox Design System</td>
            <td>99999999/77777777</td>
            <td>
              <span class="badge bg_worning">Meduim</span>
            </td>
            <td>80.000</td>
          </tr>
          <tr>
            <td>Dropbox Design System</td>
            <td>99999999/77777777</td>
            <td>
              <span class="badge bg_worning">Meduim</span>
            </td>
            <td>80.000</td>
          </tr>
          <tr>
            <td>Dropbox Design System</td>
            <td>99999999/77777777</td>
            <td>
              <span class="badge bg_worning">Meduim</span>
            </td>
            <td>80.000</td>
          </tr>
          <tr>
            <td>Dropbox Design System</td>
            <td>99999999/77777777</td>
            <td>
              <span class="badge bg_worning">Meduim</span>
            </td>
            <td>80.000</td>
          </tr>
          <tr>
            <td>Dropbox Design System</td>
            <td>99999999/77777777</td>
            <td>
              <span class="badge bg_worning">Meduim</span>
            </td>
            <td>80.000</td>
          </tr>
      </tbody>
    </table>
  </div>
  