<div class="new_customers">
  <div class="card_header">
    <h2>Nouveaux locataires</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name & contacts</th>
        <th>Date d'adhésion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
      <tr>
        <td>
          <div class="info_img">
            <img src="path/to/image.jpg" alt="customer1">
            <h4>John Doe<br><span>johndoe@example.com</span></h4>
          </div>
        </td>
        <td>2024-01-15</td>
      </tr>
    </tbody>
  </table>
</div>
