<div class="recent_project">
  <div class="card_header">
    <h2>Les derniers paiements</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Nom du Locataire</td>
        <td>Date</td>
        <td>Adresse</td>
        <td>Loyer</td>
        <td>Etat</td>
      </tr>
    </thead>
    <tbody id="unvaliReceiptsTable">
      <tr>
        <td>Dropbox Design System</td>
        <td>34</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-2.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-3.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-4.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+5</span></span>
        </td>
        <td>
          <span class="badge bg_danger">Non approuvé</span>
        </td>
      </tr>
      <tr>
        <td>Slack Team UI Design</td>
        <td>47</td>
        <td>
          <span class="badge bg_danger">Higt</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-5.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-2.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-3.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+5</span></span>
        </td>
        <td>
          <span class="badge bg_seccuss">Approuvé</span>
        </td>
      </tr>
      <tr>
        <td>Github Satellite</td>
        <td>120</td>
        <td>
          <span class="badge bg_info">Low</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-4.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-5.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-2.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+1</span></span>
        </td>
        <td>
          <span class="badge bg_seccuss">Approuvé</span>
        </td>
      </tr>
      <tr>
        <td>3D character Moddelling</td>
        <td>89</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-3.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-4.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-5.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+5</span></span>
        </td>
        <td>
          <span class="badge bg_seccuss">Approuvé</span>
        </td>
      </tr>
      <tr>
        <td>Web app Design System</td>
        <td>108</td>
        <td>
          <span class="badge bg_seccuss">Track</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-2.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-3.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-4.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+5</span></span>
        </td>
        <td>
          <span class="badge bg_seccuss">Approuvé</span>
        </td>
      </tr>
      <tr>
        <td>Twitter API Design</td>
        <td>86</td>
        <td>
          <span class="badge bg_worning">Meduim</span>
        </td>
        <td>
          <span class="img_group"><img src="avatar-3.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-4.jpg" alt=""></span>
          <span class="img_group"><img src="avatar-5.jpg" alt=""></span>
          <span class="img_group"><span class="initial">+5</span></span>
        </td>
        <td>
          <span class="badge bg_seccuss">Approuvé</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
