<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reçu de Paiement de Loyer</title>
  <link rel="stylesheet" href="receipt.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<body>
  <div class="center-container">
    <div class="receipt-container" id="receipt">
      <header>
        <i class='bx bx-home-smile'></i>
        <h1>Reçu de Paiement de Loyer</h1>
      </header>
      <div class="receipt-details" id="receiptDetails">
        <p><strong>Nom du Locataire :</strong> Jean Dupont</p>
        <p><strong>Adresse du Locataire :</strong> 123 Rue Exemple, 75001 Paris</p>
        <p><strong>Numéro de Reçu :</strong> 00123</p>
        <p><strong>Date d'Émission :</strong> 01 Juin 2024</p>
        <p><strong>Montant du Loyer :</strong> 1200 €</p>
      </div>
      <div class="payment-details">
        <h2>Détails du Paiement</h2>
        <p><strong>Méthode de Paiement :</strong> Virement Bancaire</p>
        <p><strong>Référence de Transaction :</strong> TX1234567890</p>
        <p><strong>Date de Paiement :</strong> 01 Juin 2024</p>
        <p>Ce reçu confirme que le locataire susmentionné  a  effectué le paiement du loyer pour le mois indiqué ci - dessus. Le montant a été reçu en totalité et aucune autre somme n'est due pour cette période.</p>
      </div>
      <div class="signature">
        <h3>Signature</h3>
        <img src="signature.png" alt="la signature">
      </div>
      <footer>
        <p>Merci d'avoir payé à temps. Pour toute question, veuillez nous contacter à l'adresse contact@exemple.com.</p>
        <p>© 2024 Property Manager. Tous droits réservés.</p>
      </footer>
    </div>
    
    <div id="receipt_btns">
      
    </div>
  </div>
  <script src="endpoints.js"></script>
  <script>
    const receiptData = JSON.parse(localStorage.getItem('selectedReceipt'));
    document.addEventListener('DOMContentLoaded', (event) => {
      if (receiptData) {
        let receipt_btns = document.getElementById('receipt_btns');
        if (receiptData.payment_state == 1) {
          const download_btn = document.createElement('button');
          download_btn.id = 'download-pdf';
          download_btn.onclick = downloadPDF;
          download_btn.innerHTML = "Télécharger en PDF"
          receipt_btns.appendChild(download_btn);

        }
        if (receiptData.payment_state == 0) {
          const validate_btn = document.createElement('button');
          validate_btn.id = 'validate-receipt';
          validate_btn.onclick = validateReceipt;
          validate_btn.innerHTML = "Valider le reçu"
          receipt_btns.appendChild(validate_btn);

        }
        const receiptDetails = document.getElementById('receiptDetails');
        receiptDetails.innerHTML = '';

        receiptDetails.innerHTML = `
          <p><strong>Numéro de Reçu :</strong> ${receiptData.receiptNumber} </p>
          <p><strong>Date d'Émission :</strong> ${receiptData.issueDate} </p>
          <p><strong>Nom du Locataire :</strong> ${receiptData.firstname} ${receiptData.lastname}</p>
          <p><strong>Adresse du Locataire :</strong> ${receiptData.address_property} </p>
          <p><strong>Montant du Loyer :</strong> ${receiptData.sumpayed} FCFA</p>          
        `;
      }

      
    });
  </script>

  <script>
    let token = localStorage.getItem('accessToken');
    function validateReceipt() {
      console.log("heheheheheeh");
      fetch(host + 'validateReceipt', {
      method: 'POST',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      body : JSON.stringify({
        "id": receiptData.id,
      })
    })
    .then(response => {
        if (!response.ok && (response.status === 401 || response.status === 403)) {
            alert("problem")
            return renewAccessToken().then(() => validateReceipt());
        }
        return response.json();
    })
    .then(data => {
        console.log(data);
        //document.getElementById('tenant-form').reset();
        //getTenantsPropertiesRequest(1);
    })
    .catch(error => {
        console.error('Erreur:', error);
        window.location.href = "/sign_log";
    });
    }
  </script>

  <script>
    function downloadPDF() {
      // Sélectionnez l'élément HTML que vous souhaitez convertir en PDF
      const element = document.getElementById('receipt');

      // Créez les options pour la conversion
      const options = {

        margin: 1,
        filename: 'page.pdf',
        image: { type: 'jpeg', quality: 1.0 },
        html2canvas: { scale: 4 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
      };

      // Utilisez html2pdf pour convertir l'élément et télécharger le PDF
      html2pdf().set(options).from(element).save();
    }
  </script>
</body>
</html>
