<div class="sidebar">
  <div class="logo_details">
    <i class='bx bx-home-smile'></i>
    <div class="logo_name">Gestion d'immeubles</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="#" id="porfile-button">
        <i class='bx bx-user'></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    <li>
      <a href="#" id="tenant-button">
        <i class='bx bx-smile'></i>
        <span class="links_name">Locataires</span>
      </a>
    </li>
    <li>
      <a href="#" id="proprietes-button">
        <i class='bx bx-building-house'></i>
        <span class="links_name">Propriétés</span>
      </a>
    </li>
    <li>
      <a href="#" id="tenant_home-button">
        <i class='bx bx-home-alt'></i>
        <span class="links_name">Locataire & Logement</span>
      </a>
    </li>
    <li>
      <a href="#" id="myreceipt-button">
        <i class='bx bx-receipt'></i>
        <span class="links_name">Mes reçus</span>
      </a>
    </li>
    
    <li class="login">
      <a href="#">
        <span class="links_name login_out">Se déconnecter</span>
        <i class='bx bx-log-out' id="log_out"></i>
      </a>
    </li>
  </ul>
</div>
