<div class="recent_project">
    <div class="card_header">
      <h2>Les propriétés et leurs locataires</h2>
    </div>
    <table>
      <thead>
        <tr>
            <th>Locataire</th>
            <th>Contacts</th>
            <td>Adresse</td>
            <th>Coût</th>
        </tr>
      </thead>
      <tbody id="tenantspropertiesTable">
        <tr>
          <td>Dropbox Design System</td>
          <td>99999999/77777777</td>
          <td>
            <span class="badge bg_worning">Meduim</span>
          </td>
          <td>80.000</td>
        </tr>
      </tbody>
    </table>
  </div>
  