

<div class="box">
    <i class='bx bx-pen'></i>
    <h3>Téléverser une photo de la signatures</h3>
    <form id="uploadForm" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" id="imageUpload" name="image" accept="image/*">
        </div>
        <button type="submit">Upload</button>
    </form>
    <h3>Signature :</h3>
    <img id="uploadedImage" alt="Uploaded photo will be shown here" style="display:none;">
    <p>Pour une meilleure photo de votre signature, utilisez 
        <a href="https://www.remove.bg/">removeBG</a> pour supprimer 
        l'arrière-plan et assurez-vous que l'image soit inférieure 
        à 70 pixels de hauteur. Utilisez 
        <a href="https://imageresizer.com/crop-image">crop-image</a> pour recadrer l'image.
    </p>
</div>

